.nao-irrita {
    /* TIRAR ISSO AQUI DEPOIS */
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    background-color: #EEF9BF;
    box-sizing: border-box;
}

header {
    height: 150px;
    font-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

.card {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card img {
    width: 100px;
    height: 100px;
    padding: 24px 7px 22px 10px;
}

.card.flip {
    z-index: 10;  /* Esse z-index é por causa de um bug que há com aparelhos IOS */
    transform: rotateY(180deg);
}

.card-faces {
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg)
}


@media (max-width: 600px) {
    header {
        margin: 0 10%;
        font-size: 36px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }
}